<a href="https://colab.research.google.com/github/Trulete/PIA/blob/main/Ejercicio_Pandas_PIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#Apertura del archivo
pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df

In [ ]:
len(df)

In [ ]:
df.head()

In [ ]:
df.head().T

In [ ]:
df.dtypes

In [ ]:
# Se convierten los valores de TotalCharges en valores numericos
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [ ]:
# Se pasan los nombres de columna a minuscula
df.columns= df.columns.str.lower()

In [ ]:
# Se sustituyen los espacios de las cadenas por _ (underscores)
df.replace(' ', '_', regex=True)

In [ ]:
# Se cambia los valores de la columna churn a 0 y 1
df['churn'] = df['churn'].eq('Yes').mul(1)

In [ ]:
# Se hsce un recuento de los valores distintos en las columnas categoricas
unicas = [col for col in df.columns if df[col].dtype=="O"]
for i in unicas:
  print(df[i].value_counts())

In [ ]:
# Se elimina la columna customerid
df.drop(['customerid'], axis=1)