<a href="https://colab.research.google.com/github/Trulete/PIA/blob/main/Ejercicio%20Pandas%20PIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')
df

In [ ]:
len(df)

In [ ]:
df.head()

In [28]:
df.head().T

,0,1,2,3,4
customerid,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
seniorcitizen,0,0,0,0,0
partner,Yes,No,No,No,No
dependents,No,No,No,No,No
tenure,1,34,2,45,2
phoneservice,No,Yes,Yes,No,Yes
multiplelines,No phone service,No,No,No phone service,No
internetservice,DSL,DSL,DSL,DSL,Fiber optic
onlinesecurity,No,Yes,Yes,Yes,No
onlinebackup,Yes,No,Yes,No,No
deviceprotection,No,Yes,No,Yes,No
techsupport,No,No,No,Yes,No
streamingtv,No,No,No,No,No
streamingmovies,No,No,No,No,No
contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
paperlessbilling,Yes,No,Yes,No,Yes
paymentmethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,No,No,Yes,No,Yes

In [ ]:
df.dtypes

In [18]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [19]:
df.columns= df.columns.str.lower()

In [ ]:
df.replace(' ', '_', regex=True)

In [31]:
df['churn'] = df['churn'].eq('Yes').mul(1)

In [36]:
unicas = [col for col in df.columns if df[col].dtype=="O"]

In [ ]:
unicas

In [ ]:
for i in unicas:
  print(df[i].value_counts())

In [ ]:
df.drop(['customerid'], axis=1)